<script>



function Enable_datalist_entities()
{

  $.ajax({
            url: '/api/v1/list/entities',
            type: 'get',
            data: '',
            dataType: 'json',
            success:function(response){
                // alert("inside success");
                var len = response.length;

                $("#entitieslists").empty();
                
                for( var i = 0; i<len; i++){                    
                    var name = response[i].name;                                        
                    var description = response[i].description;
                    $("#entitieslists").append("<option value='"+name+"'>"+description+"</option>");
                    
                }
            }
        });
}

function Enable_wf_list(wsname)
{
  $.ajax({
        url: '/api/v1/list/tasks',
        type: 'get',
        data: '',
        dataType: 'json',
        success:function(response){
            
            var len = response.length;                
            for( var i = 0; i<len; i++){         
                var name = response[i].name; 
                if (wsname !== name ) {                        
                    $('#wsname').append($('<option>', {
                        value: name,
                        text: name
                    }));
                }                    
            }
        }
    });
}

function Enable_taskname_list(wsname,taskname)
{
  $("#taskname").empty();
  $.ajax({
        url: '/api/v1/jobs/' + wsname,
        type: 'get',
        data: '',
        dataType: 'json',
        success:function(response){            
            var len = response.length; 
            $("#taskname").empty();     
            $("#taskname").prop('disabled', false)          
            for( var i = 0; i<len; i++){         
                var name = response[i].jobs; 
                // if (taskname !== name ) {   
                                         
                    $('#taskname').append($('<option>', {
                        value: name,
                        text: name
                    }));
                // }                    
            }
        }
    });
}


function Enable_datalist_files()
{
  $.ajax({
            url: '/api/v1/list/tasks',
            type: 'get',
            data: '',
            dataType: 'json',
            success:function(response){
                var len = response.length;
                $("#bpmfilelists").empty();
                for( var i = 0; i<len; i++){                    
                    var name = response[i].name;                    
                    var file = response[i].file;
                    $("#bpmfilelists").append("<option value='"+name+"'>"+file+"</option>");
                }
            }
        });
}





</script>