<%- include('partials/header') %>

<div class="row">
    <div class="col">
  <div class="card" style="width: 18rem;height: 30rem;">
    <img src="/public/rpa.jpg" class="card-img-top" alt="..." style="height: 15rem">
    <div class="card-body">
      <h5 class="card-title">Control</h5>
      <p class="card-text">Clear vision about the status of processes and activity</p>
      <a href="/workflows" class="btn btn-primary">Workflows</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem;height: 30rem;">
    <img src="/public/BPMCreate.png" class="card-img-top" alt="..." style="height: 15rem">
    <div class="card-body">
      <h5 class="card-title">free to control (Admin Only)</h5>
      <p class="card-text">the use of the standard BPMn flow gives the possibility to control infinite steps</p>
      <a href="/tasks" class="btn btn-primary">Tasks</a>
    </div>
  </div>
</div>
<div class="col">
    <div class="card" style="width: 18rem;height: 30rem;">
      <img src="/public/api.jpg" class="card-img-top" alt="..." style="height: 15rem">
      <div class="card-body">
        <h5 class="card-title">API interfaces</h5>
        <p class="card-text">update the status of the steps with API from everywere</p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;height: 30rem;">
      <img src="/public/BPMN_CREATOR.jpg" class="card-img-top" alt="..." style="height: 15rem">
      <div class="card-body">
        <h5 class="card-title">Create Online (Admin Only)</h5>
        <p class="card-text">Create online yours BPMn flow starting from examples </p>
        <a href="/tasks/create_tasks" class="btn btn-primary">Create</a>
      </div>
    </div>
  </div>
  
</div>
<%- include('partials/footer') %>