<%- include('partials/header') %>    
    
            <div id="myDelAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
                <strong>WFM</strong> all done. Close up!!!.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="myDelAlertError" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
                <strong>WFM</strong> <div id="mesg">problem removing the workflow! ask to admin.</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         
            <!-- <div class="row">     -->
                    <% if ( isadmin == '1') { %>
                        <div class="col"> 
                            <div class="row">
                            <div class="form-group">
                                <a class="dropdown-item" href="/workflow/create"><span class="badge btn-outline-secondary btn-lg"><a class="w-100 btn btn-outline-secondary btn-sm"  href="/workflows/create" role="button">Add new workflow</a></span></a>
                            </div>
                        </div>
                    <% } %>
            <!-- </div>             -->
        
        <div class="table-responsive-xl" >
        <!-- <div class="table-responsive-sm" style="width: 75rem;"> -->
            
            <table id="dtworkflows" class="table table-striped table-bordered" style="width:100%">            
                <thead class="table-dark">
                    <tr>                                          
                      <th scope="col">id</th>
                      <th scope="col">name</th>
                      <th scope="col">description</th>
                      <th scope="col">Last status update</th>
                      <th scope="col">last run update</th>
                      <th scope="col">last end update</th>
                      <th scope="col">tasks</th>
                      <th scope="col">Owned Entity</th>
                      <th>Actions</th>
                      <!-- <th></th> -->
                    </tr>
                </thead>  
 
            </table>
          </div>
      </div>


<%- include('partials/footer') %>


<script src="/datatables.net/js/jquery.dataTables.min.js" crossorigin="anonymous"></script> 
<script src="/datatables.net-bs5/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script> 
<link rel="stylesheet" href="/datatables.net-bs5/css/dataTables.bootstrap5.min.css" crossorigin="anonymous">





<script>

    $(document).ready(function () {        
        var x = $("#userh").html(); 
        var disabled_editing = 0;
        if (x !== "1") {
            var disabled_editing = 1;
        }
        var dt_master = $('#dtworkflows').DataTable(            
            {
            "ajax": {
                "url": "/api/v1/list/workflows",
                "dataSrc": function ( json ) {
                    a = [];
                    for ( var i=0, ien=json.length ; i<ien ; i++ ) {
                        var element = {}
                        element.id = i;
                        json[i].id = i;
                        
                        
                        if(typeof json[i].name === "undefined") { json[i].name = ""}
                        if( json[i].status === 0) { json[i].status = "Not runnning"}
                        if( json[i].status === 1) { json[i].status = "Runnning"}
                        if( json[i].status === 2) { json[i].status = "Error"}
                        if(typeof json[i].description === "undefined") { json[i].description = ""}
                        if(typeof json[i].entity === "undefined") { json[i].entity = ""}
                        if( json[i].visible === 0) { a.push(i)}
                        
                    }
                    a.reverse();
                    // for (const x of a) { json.splice(x,1); }
                    json.splice(0,1);
                    // console.log(json);
                    return json;
                }
            },   "scrollX": false,         stateSave: true,
            "columns": [       
                { "data": "id" },                       
                { "data": "name" },
                { "data": "description" },  
                { "data": "status" },                  
                { "data": "lastrun" },
                { "data": "lastend" },
                { "data": "file" },
                { "data": "entity" },                             
                { "render": function(data, type, row) {
                    if (disabled_editing === 1) {
                        return '<span class="badge bg-secondary"><a id="viewbpm'+ row.file +'" class="viewbpm ' + disabled_editing + '" style="color: white;" role="button" aria-disabled="true"><i class="bi bi-ticket-detailed text-light" title="BPM"></i></a></span>' 
                    } else {
                    return '<span class="badge bg-danger"><a id="deleterow'+ row.id +'" class="delete" style="color: white;" role="button" ' + disabled_editing + '><i class="bi bi-trash3 text-light" title="Delete"></i></a></span>' +
                    '<span class="badge bg-warning"><a id="editrow'+ row.id +'" class="editrow ' + disabled_editing + '" style="color: white;" role="button" aria-disabled="true"><i class="bi bi-pencil text-light" title="Edit"></i></a></span>' +                    
                    '<span class="badge bg-secondary"><a id="viewbpm'+ row.file +'" class="viewbpm ' + disabled_editing + '" style="color: white;" role="button" aria-disabled="true"><i class="bi bi-ticket-detailed text-light" title="BPM"></i></a></span>' 
                    }
                }}
            ],
                responsive: true,
                "columnDefs": [
                     { className: "dt-right", "targets": [8] }
                ]
            });
    });

    $(document).on('click', '.editrow[id^=editrow]', function() {              
        var id = parseInt(this.id.replace("editrow", ""));
        event.preventDefault(); 
        var url = "/workflows/edit/" + id;
        location.replace(url);
    });

    $(document).on('click', '.viewbpm[id^=viewbpm]', function() {              
        var id = this.id.replace("viewbpm", "");
        id = id + ".bpmn";
        event.preventDefault(); 
        var url = "/tasks/viewtask/ws/" + id;
        location.replace(url);
    });

    

    $(document).on('click', '.delete[id^=deleterow]', function() {              
        var id = parseInt(this.id.replace("deleterow", ""));        
        
        event.preventDefault();            
        var url = "/workflows/delete/" + id;
        $.ajax({
            url: url,
            type: 'DELETE',
            beforeSend: function () {                
                if(confirm("vuoi procedere con la cancellazione?")){
                    var go = 1;
                } else { 
                    return false;
                }
            },
            success: function(result) {
                $('#dtworkflows').DataTable().ajax.reload();
                $('#myDelAlert').show();
            },
            error: function(jqXHR, exception) {
                $('#myDelAlertError').show();
                msg = "problem removing job! ------" + jqXHR.responseText + "--------"; 
                $('#mesg').html(msg);
            }
        });
    });

    
    $(".alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
    });    

</script>

